body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  min-width: 100%;
  min-height: 100px;
  max-height: 100px;
  object-fit: fill;
  padding: 0px;
  margin-bottom: 0px;
  filter: blur(2px);
  position: relative;
}

.relativePOS {
  position: relative;
}

.child-of {
  position: absolute;

}

.card-img {
  height: 400px;
  object-fit: fill;
}

.custom-color {
  background-color:#e0f2f1;
}

.other-color {
  background-color: aquamarine;
}

.card .card-reveal {
  padding: 24px;
  position: absolute;
  background-color: #e0f2f1 !important;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.hero-bg {
  background-Image: url(./image/heroBG.png),

}